<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Customers" nopResource="Admin.Customers"  PermissionNames="ManageCustomers, ManageVendors" icon="chemistry" >
      <siteMapNode SystemName="Customers" nopResource="Admin.Customers.Customers" PermissionNames="ManageCustomers" controller="Customer" action="List" />
      <siteMapNode SystemName="User roles" nopResource="Admin.Users.UserRoles" PermissionNames="ManageCustomers" controller="UserRole" action="List" />
      <siteMapNode SystemName="Online Users" nopResource="Admin.Users.OnlineUsers" PermissionNames="" controller="OnlineUser" action="List" />
    </siteMapNode>

    <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings"  icon="note">
      <siteMapNode title="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List"/>
      <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" />
      <siteMapNode title="Plugins" nopResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" controller="Plugin" action="List"/>
    </siteMapNode>

    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" icon="note">
      <siteMapNode SystemName="Log" nopResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List" />
      <siteMapNode SystemName="Queued emails" nopResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List" />
      <siteMapNode SystemName="Maintenance" nopResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance" />
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" />
      <siteMapNode SystemName="Warnings" nopResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings" />
      <siteMapNode SystemName="System information" nopResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo" />
      <siteMapNode SystemName="Search engine friendly names" nopResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames" />

    </siteMapNode>
  </siteMapNode>
</siteMap>

