<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" nopResource="Admin.Home" controller="Home" action="Overview">
    <siteMapNode SystemName="Users" nopResource="Admin.Users"  PermissionNames="ManageUsers" icon="chemistry" >
      <siteMapNode SystemName="Departments" nopResource="Admin.Users.Departments" PermissionNames="ManageUsers" controller="Department" action="List" />
      <siteMapNode SystemName="Users" nopResource="Admin.Users" PermissionNames="ManageUsers" controller="User" action="List" />
      <siteMapNode SystemName="User roles" nopResource="Admin.Users.UserRoles" PermissionNames="ManageUsers" controller="UserRole" action="List" />
      <siteMapNode SystemName="Online Users" nopResource="Admin.Users.OnlineUsers" PermissionNames="" controller="OnlineUser" action="List" />
    </siteMapNode>

    <siteMapNode SystemName="Settings" nopResource="Admin.Configuration.Settings" PermissionNames="ManageSettings"  icon="note">
      <siteMapNode SystemName="All settings (settings)" nopResource="Admin.Configuration.Settings.AllSettings" PermissionNames="ManageSettings" controller="Setting" action="AllSettings"/>
      <siteMapNode title="Languages" nopResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List"/>
      <siteMapNode SystemName="Access control list" nopResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" />
      <siteMapNode title="Plugins" nopResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" controller="Plugin" action="List"/>
    </siteMapNode>

    <siteMapNode SystemName="System" nopResource="Admin.System" PermissionNames="ManageActivityLog,ManageScheduleTasks" icon="note">
      <siteMapNode SystemName="Activity Types" nopResource="Admin.Configuration.ActivityLog.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ListTypes"/>
      <siteMapNode SystemName="Activity Log" nopResource="Admin.Configuration.ActivityLog.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ListLogs"/>
      <siteMapNode SystemName="Schedule tasks" nopResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List" />
    </siteMapNode>

  </siteMapNode>
</siteMap>

