
@{ 
    Layout = "";
    Html.AddTitleParts(T("PageTitle.PageNotFound").ToString());
}

<div class="page not-found-page">
    <div class="page-title">
        <h1>T("PageTitle.PageNotFound")</h1>
    </div>
    <div class="page-body">
       
    </div>
</div>