
@{
    ViewBag.Title = T("Admin.Dashboard").Text;
}

<div class="content-heading">
    <!-- START Language list-->
    <div class="pull-right">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-default">English</button>
            <ul role="menu" class="dropdown-menu dropdown-menu-right animated fadeInUpShort">
                <li>
                    <a href="#" data-set-lang="en">English</a>
                </li>
                <li>
                    <a href="#" data-set-lang="es">Spanish</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- END Language list    -->
    Dashboard
    <small data-localize="dashboard.WELCOME"></small>
</div>
