
@{
    ViewBag.Title = T("Admin.Dashboard").Text;
}

<div class="content-heading">
    @Html.Action("LanguageSelector", "Common")
    @T("Admin.Dashboard")
    <small data-localize="dashboard.WELCOME"></small>
</div>
